@import "../../../.cache/wal/colors-waybar.css";

* {
    font-family: MesloLGL Nerd Font Propo;
    font-size: 13px;
}

window#waybar {
  background-color: alpha(@background, 0.4);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 0px 0px;
  transition-duration: .5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

#custom-arch {
  background-color: alpha(@background, 0.65);
  color: @color2;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 0px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color2, 0.5);
  border-bottom-style: solid;

}

#workspaces {
    border-radius: 0px;
    background-color: alpha(@background, 0.65);
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
    border-bottom-width: 4px;
    border-bottom-color: alpha(@color4, 0.5);
    border-bottom-style: solid;
}


#workspaces button {
  background-color: transparent;
  color: @color4; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button:hover {
  background-color: transparent;
  color: @color4; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button.active {
  background-color: transparent;
  color: @color2; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button.urgent {
  background-color: transparent;
  color: @color41; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button.special {
  background-color: transparent;
  color: @color1; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button:hover {
    color: @foreground;
  }

#custom-aur {
  background-color: alpha(@background, 0.65);
  color: @color4;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color4, 0.5);
  border-bottom-style: solid;

}

#apps {
  background-color: alpha(@background, 0.65);
  border-radius: 0px;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color1, 0.5);
  border-bottom-style: solid;


}

#custom-drawer1{
  color: @color1;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 0px;

}

#custom-discord{
        font-size: 15px;
        background-image: url('../icons/discord.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: -2px;
        border-radius: 0px;
}

#custom-whatsapp{
        font-size: 15px;
        background-image: url('../icons/whatsapp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 0px;
}

#custom-protonm{
        font-size: 15px;
        background-image: url('../icons/protonmail.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 0px;
}

#custom-gmail{
        font-size: 15px;
        background-image: url('../icons/gmail.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 0px;
}

#custom-salaat {
  background-color: alpha(@background, 0.65);
  color: @color4;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color4, 0.5);
  border-bottom-style: solid;

}


#custom-quran {
  background-color: alpha(@background, 0.65);
  color: @color2;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color2, 0.5);
  border-bottom-style: solid;
}

#custom-sunnah {
  background-color: alpha(@background, 0.65);
  color: @color2;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color2, 0.5);
  border-bottom-style: solid;
}
#clock {
  background-color: alpha(@background, 0.65);
  color: @color2;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color2, 0.5);
  border-bottom-style: solid;
}

#pulseaudio {
  background-color: alpha(@background, 0.65);
  color: @color4;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color4, 0.5);
  border-bottom-style: solid;

}
#pulseaudio.muted {
  background-color: alpha(@background, 0.65);
  color: @color1;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
}

#network {
  background-color: alpha(@background, 0.65);
  color: @color2;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color2, 0.5);
  border-bottom-style: solid;

}
#network.disconnected {
  background-color: alpha(@background, 0.65);
  color: @color1;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color1, 0.5);
  border-bottom-style: solid;
}

#tray{
  background-color: alpha(@background, 0.65);
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color3, 1);
  border-bottom-style: solid;
}
#window {
    border-radius: 0px;
    background-color: alpha(@background, 0.65);
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
    border-bottom-width: 4px;
    border-bottom-color: alpha(@color4, 0.5);
    border-bottom-style: solid;
}
#custom-power{
  background-color: alpha(@background, 0.65);
  color: @color1;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color1, 0.5);
  border-bottom-style: solid;
  background-image: url('../icons/power.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;

}

#custom-games{
  background-color: alpha(@background, 0.65);
  color: @color1;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
  border-bottom-width: 4px;
  border-bottom-color: alpha(@color1, 0.5);
  border-bottom-style: solid;
}
#tooltip {
background-color: alpha(@background, 0.65);
color: @color1;
border: 3px solid @color1;
}
